<!DOCTYPE html>
<html>

<head>
  <title>Rajan Kumar | Computer Engineer | Developer</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="rajan pic 1.png">

  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Montserrat", sans-serif;
      font-size: medium;

    }

    .w3-row-padding img {
      margin-bottom: 12px
    }

    /* Set the width of the sidebar to 120px */
    .w3-sidebar {
      width: 120px;
      background: #222;
    }

    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
    #main {
      margin-left: 120px
    }

    /* Remove margins from "page content" on small screens */
    @media only screen and (max-width: 600px) {
      #main {
        margin-left: 0
      }
    }
  </style>
</head>

<body class="w3-black">

  <!-- Icon Bar (Sidebar - hidden on small screens) -->
  <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->
    <img src="rajank pic.jpg" style="width:100%">
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
      <i class="fa fa-home w3-xxlarge"></i>
      <p>HOME</p>
    </a>
    <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-user w3-xxlarge"></i>
      <p>ABOUT</p>
    </a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-envelope w3-xxlarge"></i>
      <p>CONTACT</p>
    </a>
  </nav>

  <!-- Navbar on small screens (Hidden on medium and large screens) -->
  <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
      <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
      <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
      <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
    </div>
  </div>

  <!-- Page Content -->
  <div class="w3-padding-large" id="main">
    <!-- Header/Home -->
    <header class="w3-container w3-padding-32 w3-center w3-black" id="home">

      <h1 style="font-size:50px;">Hey!!</h1>

      <h1 style="font-size:40px;">&nbsp; &nbsp; I'm Rajan&#9996;</h1>
      <h3>&nbsp; &nbsp; &nbsp; aka Rajan Gopal Poddar</h3>
      <p><i>(Computer Science student)</i></p>
      <img src="rajank pic.jpg" alt="boy" class="w3-image" width="650" height="1100">
    </header>

    <!-- About Section -->
    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
      <h2 class="w3-text-light-grey">About Us</h2>
      <hr style="width:200px" class="w3-opacity">
      <p>Hello everyone!!&#128075;</p>
      <p>Welcome here to know about me &#128515;</p>
      <p>I'm Rajan. I am from Bihar. I am pursuing B.Tech from computer science and engineering 👨‍💻. I like computers
        and their languages, music, and traveling to explore and discover the world. I use a creative approach to
        solving problem and i'm also able to handle multiple tasks on daily basis. I have experience working as part of
        a team and individually. I'll graduate in May 2024.</p>
      <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
      <p class="w3-wide">HTML</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:95%"></div>
      </div>
      <p class="w3-wide">CSS</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:71%"></div>
      </div>
      <p class="w3-wide">Python</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:66%"></div>
      </div>
      <p class="w3-wide">SQL</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:70%"></div>
      </div>
      <p class="w3-wide">MYSQL</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:68%"></div>
      </div>
      <p class="w3-wide">Git/GitHub</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:75%"></div>
      </div>
      <br>



      <button class="w3-button w3-light-grey w3-padding-large w3-section">
        <i class="fa fa-download"></i> Download Resume
      </button>


      <!-- Contact Section -->
      <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
        <h2 class="w3-text-light-grey">Contact Me</h2>
        <hr style="width:200px" class="w3-opacity">

        <div class="w3-section">
          <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Delhi, India</p>
          <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Mobile no:- 7091575737 </p>
          <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email:-
            rajankrpoddar@gmail.com</p>
        </div><br>
        <p>Let's get in touch. Send me a message:</p>

        <form action="/action_page.php" target="_blank">
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
          <p>
            <button class="w3-button w3-light-grey w3-padding-large" type="submit">
              <i class="fa fa-paper-plane"></i> SEND MESSAGE
            </button>
          </p>
        </form>

      </div>
      <!-- Footer.  -->

      <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
        <p>
          <button class="w3-button w3-light-grey w3-padding-large" type="submit">
            Get in touch
          </button>
        </p>
        <p>Coffee/Tea!! Please do not hesitate to schedule a meeting.&#128515;&#128515;</p>
        <p>
          <button class="w3-button w3-light-grey w3-padding-small" type="submit">
            Mail me for meeting
          </button>
        </p>

        &nbsp;
        <a href="https://www.facebook.com/profile.php?id=100051406727614"><i
            class="fa fa-facebook-official w3-hover-opacity"></i></a>
        &nbsp;
        <a href="https://www.instagram.com/ra_jan_k/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
        &nbsp;
        <a href="https://t.snapchat.com/uUoPrItb"><i class="fa fa-snapchat w3-hover-opacity"></i></a>
        &nbsp;
        <a href="https://twitter.com/rajan_k1?t=I5lETzDXPy4Vxx0SMrJoKw&s=09"><i
            class="fa fa-twitter w3-hover-opacity"></i></a>
        &nbsp;
        <!-- End footer -->
      </footer>

      <!-- END PAGE CONTENT -->
    </div>

</body>

</html>